<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sneakers app activation email</title>
    <style>
      .heading {
        font-size: 20px;
        font-weight: bold;
        color: black;
      }
      h2 {
        color: #ff5b00;
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div>
      <div>
        <h1 class="heading">Welcome to sneakers app</h1>
      </div>
      <p>Your verification code is</p>
      <h2><%= activationCode %></h2>
    </div>
  </body>
</html>
